/* 

    O que é Grid?
     É um sistema de layout bidimensional que nos permite criar grades(grids) para organizar conteúdo em linhas e colunas. É perfeito para estruturar paginas web completas

     container: Elemeto que contem a grade
     itens: os elemntos diretos do container
     linhas (rows): Divizoes horizontais
     colunas (columns): Divisoes verticais
     celeulas: São os quadardinhos formados pelo encoontro da linha com  a coluna
     Areas: Espaços que ocupam multiplas celulas
*/

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Primeira forma */
/* Criação da grade */
.container {
    /* Ativa o grid */
    display: grid;

    /* Criando as colunas */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 20vw 20vw 20vw; */
    grid-template-columns: 1fr 1fr 1fr;

    /* Criando as linhas */
    grid-template-rows: 200px 200px 200px;
    /* grid-template-rows: 20vh 20vh 20vh; */
    /* grid-template-rows: 1fr 1fr 1fr; */

    /* Cria um espaço entre os itens */
    gap: 10px;

    /* justify-items: center; */
    /* justify-content: space-around; */
    /* align-items: center; */
}


/* Estilização dos itens */
.item {
    background-color: #4CAF50;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
}

.item:nth-child(2) {
    /* Coluna */
    grid-column: 1/3;

    /* Linha */
    grid-row: 1;
}

.item:nth-child(3) {
    grid-column: 3;
    grid-row: 2/4;
}

/* Segunda forma */


.container_area {
    display: grid;

    grid-template-areas:
        'header header'
        'aside article'
        'section section'
        'footer footer'
    ;

    gap: 10px;

}

header {
    grid-area: header;
    /* Conecta a linha 1 e as colunas da grd */
    background-color: blueviolet;
    width: 100vw;
    height: 10vh;
}

aside {
    grid-area: aside;
    background-color: coral;
    height: 50vh;
}

article {
    grid-area: article;
    background-color: rgb(0, 255, 106);

}

section {

    grid-area: section;
    background-color: rgb(17, 103, 103);
    height: 10vh;

}

footer {

    grid-area: footer;
    background-color: rgb(72, 72, 68);
    height: 10vh;
}