/* Reset das medidas  */
/* O reset serve para ajudar na hora de posicionar os elemento (Imagem, texto, banner, tabelas, formularios) */
*{
    margin: 0; /* Zera a margin de todas as tags HTML */
    padding: 0; /* Zera todo o espaço inerno das tags HTML */
    /* border: 0; */
    box-sizing: border-box; /* Junta a largura e a borda */
}

body{
    font-family: Arial, sans-serif; /* Familia de fonte */
}

/* Grade (Garde) */
.container{
    display: grid;

    grid-template-areas:  /* Define as areas e as colunas */
        'header'
        'banner'
        'products'
        'footer'
        ;
    grid-template-rows: 80px 500px 1fr 60px; /* Define a altura das linhas */

    /* Primeira forma */
   /*  grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px) ;

    gap: 10px;
    row-gap: 10px; /* Espaçamento entre linhas somente */
    /* column-gap: 10px;  espaçamento  somente entre colunas */
}

/* Estilização do cabeçalho */
.header{
    grid-area: header; /* Encaixa o cabeçalho no lugar correto */
    background-color: black; /* Define a cor de fundo */
    color: aliceblue; /* Define a cor da fonte */

    display: flex; /* Fexbox para trabalhar livremente */
    justify-content: space-between; /* Alinha elemntos lado a lado de acordo com espço */
    align-items: center;

    padding: 0 20px; /* 0 - Espaçamento top e bottom, 20px - left e right */
}

/* Estilização do Menu */

.menu{
    display: flex; /* Permite movimentar livremente */ 
    gap: 20px;/* Espaçamento entre os itens */
}

.menu a{
    text-decoration: none; /* Retira o sublinhado do menu */
    color: aliceblue;    /* Cor de fonte */
    transition: 0.3s; /* Suaviza a animção feita pelo transform e o tempo */    
}

/* hover altera elementos ao passar o mause */
.menu a:hover{
    color: orangered;
    transform: scale(1.1); /* Cria animação */
}

/* Estilizando o banner */
.banner{
    grid-area: banner;
    background: url("https://images.unsplash.com/photo-1600185365483-26d7a4cc7519") center/cover;

    display: flex;
    align-items: center;
    color: orangered;    

    padding: 20px;
    font-size: 30px;
}

/* Estilizando o conteudo da pagina(main) */
.products{
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

.card{
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.1);
}

/* Estilizando o footer */
.footer{
    grid-area: footer;
    background-color: orangered;
    color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;
}