/* Todos os elementos */
* {
  margin: 0; /* Remove o margin padrao */
  padding: 0; /* Remove o padding padrao */
  border: 0; /* Remove a borda padrao */
  box-sizing: border-box; /* Define o tamanho da caixa de acordo com o tamanho da borda */
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrao */
}

/* Estilos para o body */
body {
  background-color: #f2f2f2;
}

/* Estilos para o header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 5%;
  align-items: center;
  justify-items: center;
  background-color: #f2522e;
}

.menu:nth-child(1) {
}

.logo:nth-child(2) {
}

.logo img {
  width: 35vw;
  height: auto;
}

/* Estilos para o main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 5%;
  
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

main section {
  display: flex;
  
  align-items: center;
  justify-content: center;
  
}

main section .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

main section .banner img {
  width: 80vw;
  height: auto;
}
