*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(98, 99, 103);
}

h1{
    color: brown;
    font-size: 20px;
    text-align: center;
}

p{
    font-size: 10px;
    text-align: right;
}

button{
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: rgb(172, 172, 179);
    color: aqua;
}

button:hover{
    background-color:brown;
}
.caixa{
    width: 300px;
    height: 300px;
    background-color: black;
    padding: 30px;
    margin: 30px;
    color: aliceblue;
    border: 10px solid aliceblue;
    border-radius: 20px;
}



.container{
    display: flex;
    justify-content: center;
   
}

 main{
    background-color: blue;
    width: 80vw;
    height: 80vh;
 }