body {
    background-color: orange;
}
header {
    font-size: 50px;
    background-color: black;
    font-family: fantasy;
    color: orange;
    text-align: center;
    margin: 20px 20px;
    padding: 50px;
}

p {
    display: flex;
    color: orange;
    justify-content: right;   
    font-size: 25px;
    font-family: fantasy;
    background-color: black;
    padding: 15px;
    width: 100vw;
}

button {
    justify-content: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20%;
    margin-left: 50px;
    background-color: white;
}